.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    text-align: center;
}

button {
    width: 50px;
    height: 30px;
    margin: 10px 10px 10px 10px;
    border-color: black;
    background-color: blanchedalmond;
    border-radius: 10px;
    border-width: 1px;
}

button:active {
    background-color: cornflowerblue;
    outline: none;
}